@using Microsoft.AspNetCore.Http;
@using Panda.Helpers;

<h1 testing greeting-name="Pesho"></h1>
<partial name="_TestPartial" model="@(new string[] { "assdasd", "pesho" })" />

@if (this.Context.Session.Get<string>(Constants.Username) == null)
{
    <div class="jumbotron mt-3 bg-panda">
        <h1 class="text-white">Welcome to PANDA Delivery Services.</h1>
        <hr class="bg-white hr-2" />
        <h3 class="text-white"><a asp-controller="Users" asp-action="Login">Login</a> if you have an account.</h3>
        <h3 class="text-white"><a asp-controller="Users" asp-action="Register">Register</a> if you don't.</h3>
    </div>
}
else
{
    @model Panda.ViewModels.UserIndexViewModel

    var username = this.Context.Session.Get<string>(Constants.Username);

    <h1 class="text-center">Hello, @username!</h1>
    <hr class="hr-2 bg-panda">
    <div class="d-flex justify-content-between">
        <div class="w-25 bg-white">
            <h2 class="text-center">Pending</h2>
            <div class="border-panda p-3">
                @foreach (var pendingPackage in Model.PendingPackages)
                {
                    <div class="p-2 d-flex justify-content-around">
                        <h4 class="w-75">@pendingPackage.Description</h4>
                        <a asp-controller="Packages" asp-action="Details" asp-route-id="@pendingPackage.Id" class="btn bg-panda text-white w-25">Details</a>
                    </div>
                }
            </div>
        </div>
        <div class="w-25 bg-white">
            <h2 class="text-center">Shipped</h2>
            <div class="border-panda p-3">
                @foreach (var shippedPackage in Model.ShippedPackages)
                {
                    <div class="p-2 d-flex justify-content-around">
                        <h4 class="w-75">@shippedPackage.Description</h4>
                        <a asp-controller="Packages" asp-action="Details" asp-route-id="@shippedPackage.Id" class="btn bg-panda text-white w-25">Details</a>
                    </div>
                }
            </div>
        </div>
        <div class="w-25 bg-white">
            <h2 class="text-center">Delivered</h2>
            <div class="border-panda p-3">
                @foreach (var deliveredPackage in Model.DeliveredPackages)
                {
                    <div class="p-2 d-flex justify-content-around">
                        <h4 class="w-75">@deliveredPackage.Description</h4>
                        <a asp-controller="Packages" asp-action="Aquire" asp-route-id="@deliveredPackage.Id" class="btn bg-panda text-white w-25">Aquire</a>
                    </div>
                }
            </div>
        </div>
    </div>
}